@tailwind base;
@tailwind components;
@tailwind utilities;

/* AOS Custom Blur Effect (Enabled Globally) */
[data-aos] {
    filter: blur(12px);
    transition-property: transform, opacity, filter !important;
}

[data-aos].aos-animate {
    filter: blur(0);
}